---
export const prerender = false;
import { db, sql, sum, count, MetaData } from "astro:db";

let metaDataAgg = {
  total_blogs: 0,
  total_views: 0,
  total_likes: 0,
};

try {
  const res = await db
    .select({
      total_blogs: count(MetaData.blog),
      total_views: sum(MetaData.views),
      total_likes: sum(MetaData.likes),
    })
    .from(MetaData);

  if (res[0]) {
    metaDataAgg = {
      total_blogs: res[0].total_blogs,
      total_views: Number(res[0].total_views) || 0,
      total_likes: Number(res[0].total_likes) || 0,
    };
  }
} catch (e) {
  console.log(e);
}
---

<div>
  <pre># blogs: {metaDataAgg.total_blogs}</pre>
  <pre>total views: {metaDataAgg.total_views}</pre>
  <pre>total likes: {metaDataAgg.total_likes}</pre>
</div>
