---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Aggregates from "./Aggregates.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div>
        <h2>Allo, I am Eric L</h2>
        <p>Sometimes I code</p>
        <p>Sometimes I draw</p>
        <p>Sometimes I write</p>
      </div>
      <h3>Site Stats</h3>
      <Aggregates server:defer>
        <div>
          <pre># blogs: 0</pre>
          <pre>total views: 0</pre>
          <pre>total likes: 0</pre>
        </div>
      </Aggregates>
      <hr />
      <a href="https://github.com/RiceL123/blog">See repo on GitHub ></a>
      <div class="pl-4" style="font-size: 0.8em;">
        <div>
          <span class="font-bold">Built with:</span>
          <a href="https://astro.build">Astro</a>,
          <a href="https://tailwindcss.com">Tailwind css</a>,
          <a href="https://mdxjs.com/">MDX</a>,
          <a href="https://docs.astro.build/en/guides/astro-db/">Astro DB</a> /
          <a href="https://orm.drizzle.team">Drizzle ORM</a> and
          <a href="https://turso.tech/libsql">libSQL</a>
        </div>
        <div>
          <span class="font-bold">Server hosted on:</span>
          <a href="https://vercel.com/">Vercel</a>
        </div>
        <div>
          <span class="font-bold">Database hosted on:</span>
          <a href="https://turso.tech/">Turso</a> and <a href="https://fly.io/"
            >Fly.io</a
          >
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
