<span
  style="display: flex; height: 12px; overflow: hidden; background-color: #e1e4e8; border-radius: 10px; box-shadow: inset 0 -1px 0 rgba(27,31,35,.12);"
>
  <span
    style="background-color:#dea584 !important;width: 44.2%;"
    aria-label="Rust 44.2%"></span>
  <span
    style="background-color:#3572A5 !important;width: 9.2%;"
    aria-label="Python 9.2%"></span>
  <span
    style="background-color:#555555 !important;width: 8.6%;"
    aria-label="C 8.6%"></span>
  <span
    style="background-color:#f34b7d !important;width: 5.7%;"
    aria-label="C++ 5.7%"></span>
  <span
    style="background-color:#ec915c !important;width: 5.3%;"
    aria-label="Zig 5.3%"></span>
  <span
    style="background-color:#b07219 !important;width: 4.3%;"
    aria-label="Java 4.3%"></span>
  <span
    style="background-color:#ededed !important;width: 22.7%;"
    aria-label="Other 22.7%"></span>
</span>

<div style="display: flex; flex-wrap: wrap">
  <li style="display: inline-block; margin-right: 1em">
    <span style="display: flex; gap: 0.3em; align-items: center;"
      ><span style="color: #dea584; font-size: 1.1em; font-weight: 900;">•</span
      ><span style="font-size: 0.8em; font-weight: bold">Rust</span><span
        >44.2%</span
      ></span>
  </li>
  <li style="display: inline-block; margin-right: 1em">
    <span style="display: flex; gap: 0.3em; align-items: center;"
      ><span style="color: #3572A5; font-size: 1.1em; font-weight: 900;">•</span
      ><span style="font-size: 0.8em; font-weight: bold">Python</span><span
        >9.2%</span
      ></span>
  </li>
  <li style="display: inline-block; margin-right: 1em">
    <span style="display: flex; gap: 0.3em; align-items: center;"
      ><span style="color: #555555; font-size: 1.1em; font-weight: 900;">•</span
      ><span style="font-size: 0.8em; font-weight: bold">C</span><span
        >8.6%</span
      ></span>
  </li>
  <li style="display: inline-block; margin-right: 1em">
    <span style="display: flex; gap: 0.3em; align-items: center;"
      ><span style="color: #f34b7d; font-size: 1.1em; font-weight: 900;">•</span
      ><span style="font-size: 0.8em; font-weight: bold">C++</span><span
        >5.7%</span
      ></span>
  </li>
  <li style="display: inline-block; margin-right: 1em">
    <span style="display: flex; gap: 0.3em; align-items: center;"
      ><span style="color: #ec915c; font-size: 1.1em; font-weight: 900;">•</span
      ><span style="font-size: 0.8em; font-weight: bold">Zig</span><span
        >5.3%</span
      ></span>
  </li>
  <li style="display: inline-block; margin-right: 1em">
    <span style="display: flex; gap: 0.3em; align-items: center;"
      ><span style="color: #b07219; font-size: 1.1em; font-weight: 900;">•</span
      ><span style="font-size: 0.8em; font-weight: bold">Java</span><span
        >4.3%</span
      ></span>
  </li>
  <li style="display: inline-block; margin-right: 1em">
    <span style="display: flex; gap: 0.3em; align-items: center;"
      ><span style="color: #ededed; font-size: 1.1em; font-weight: 900;">•</span
      ><span style="font-size: 0.8em; font-weight: bold">Other</span><span
        >22.7%</span
      ></span>
  </li>
</div>
