---
const { rating, icon } = Astro.props;
---

<div style="display: flex; gap: 10px; align-items: center;">
  <img src={icon} height="30px" width="30px"/>
  <div>Overall Rating:</div>
  <div
    style="color: white; background-color: #0f0f23; padding-inline: 10px; border-radius: 7px; width:min-content; display: flex; height:30px; align-items: center;"
  >
    <div
      style="margin-top: 6px;font-family:monospace;font-size:larger;color: #ffff66; text-shadow: 0 0 5px #ffff66, 0 0 10px #ffff66;"
    >
      {"*".repeat(rating)}
    </div><div
      style="margin-top: 6px;font-family:monospace;font-size:larger;color: #666"
    >
      {"*".repeat(10 - rating)}
    </div>
  </div>
</div>
