---
import Layout from "../layouts/BlogPost.astro";
---

<Layout>
  <main class="grid place-items-center">
    <div class="flex gap-10" style="justify-content: center;">
      <img src="404.svg" alt="404 Not Found" style="height: 200px;" />
      <div
        style="display: flex; flex-direction: column; justify-content: center;"
      >
        <h2>404 Page Not Found</h2>
        <a href="/">Go Home ></a>
      </div>
    </div>
  </main>
</Layout>
