---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Eric L"
  description="RiceL"
  pubDate="10 Dec 24"
  heroImage="/blog-placeholder-about.jpg"
>
  <pre>RiceL123 != Eric L</pre>
  <p>Sometimes I code</p>
  <p>Sometimes I draw</p>
  <p>Maybe I write about it or something else</p>
</Layout>
