---
// what good my brother whats going on in the hood??
const studyStrims = [
  [0, 4984000],
  [1, 8714000],
  [2, 10172000],
  [3, 3390000],
  [4, 25899000],
  [5, 4783000],
  [6, 5010000],
  [7, 12265000],
  [8, 8644000],
  [9, 11102000],
  [10, 9632000],
  [11, 18434000],
  [12, 10802000],
  [13, 24976000],
  [14, 15875000],
  [15, 36258000],
  [16, 18474000],
  [17, 12904000],
  [18, 10081000],
  [19, 18017000],
  [20, 4520000],
  [21, 12882000],
  [22, 23091000],
  [23, 9985000],
  [24, 17241000],
  [25, 33099000],
  [26, 11473000],
  [27, 15661000],
  [28, 18044000],
  [29, 2720000],
  [30, 28143000],
  [31, 18278000],
  [32, 22228000],
  [33, 17032000],
  [34, 16874000],
  [35, 20165000],
  [36, 6935000],
  [37, 26952000],
  [38, 12591000],
  [39, 24726000],
  [40, 9990000],
  [41, 6759000],
  [42, 11997000],
  [43, 6252000],
  [44, 7700000],
  [45, 19045000],
  [46, 13497000],
  [47, 11665000],
  [48, 19407000],
  [49, 20449000],
  [50, 4327000],
  [51, 11804000],
  [52, 8962000],
  [53, 15297000],
  [54, 13270000],
  [55, 16746000],
  [56, 8811000],
  [57, 20040000],
  [58, 18923000],
  [59, 18856000],
  [60, 18021000],
  [61, 15847000],
  [62, 18472000],
  [63, 8812000],
  [64, 7460000],
  [65, 3182000],
  [66, 7532000],
  [67, 8940000],
  [68, 11934000],
  [69, 8011000],
  [70, 3429000],
  [71, 5345000],
  [72, 17451000],
  [73, 12364000],
  [74, 2621000],
  [75, 16800000],
  [76, 4392000],
  [77, 9992000],
  [78, 7859000],
  [79, 3791000],
  [80, 11223000],
  [81, 4570000],
  [82, 7963000],
  [83, 3801000],
  [84, 10885000],
  [85, 8590000],
  [86, 11492000],
  [87, 8086000],
  [88, 6100000],
  [89, 5400000],
  [90, 13986000],
  [91, 5511000],
  [92, 7999000],
  [93, 7128000],
  [94, 8293000],
  [95, 14746000],
  [96, 9632000],
  [97, 10754000],
  [97, NaN],
];
---

<h2>hello from linechart</h2>

<canvas id="lineChart"></canvas>

<script>
  import ChartDeferred from 'chartjs-plugin-deferred';
  import {
    Chart,
    LineController,
    LineElement,
    PointElement,
    LinearScale,
    Tooltip,
  } from "chart.js";
  Chart.register(
    LineController,
    LineElement,
    PointElement,
    LinearScale,
    Tooltip,
  );

  const ctx = document.getElementById("lineChart") as HTMLCanvasElement;

  const totalDuration = 10000;
  const delayBetweenPoints = totalDuration / 98;
  const previousY = (ctx) =>
    ctx.index === 0
      ? ctx.chart.scales.y.getPixelForValue(100)
      : ctx.chart
          .getDatasetMeta(ctx.datasetIndex)
          .data[ctx.index - 1].getProps(["y"], true).y;
  const animation = {
    x: {
      type: "number",
      easing: "linear",
      duration: delayBetweenPoints,
      from: NaN, // the point is initially skipped
      delay(ctx) {
        if (ctx.type !== "data" || ctx.xStarted) {
          return 0;
        }
        ctx.xStarted = true;
        return ctx.index * delayBetweenPoints;
      },
    },
    y: {
      type: "number",
      easing: "linear",
      duration: delayBetweenPoints,
      from: previousY,
      delay(ctx) {
        if (ctx.type !== "data" || ctx.yStarted) {
          return 0;
        }
        ctx.yStarted = true;
        return ctx.index * delayBetweenPoints;
      },
    },
  };

  new Chart(ctx, {
    type: "line",
    data: {
      labels: [
        0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
        20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
        38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55,
        56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73,
        74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91,
        92, 93, 94, 95, 96, 97,
      ],
      datasets: [
        {
          label: "Strim Time",
          data: [
            4984000, 8714000, 10172000, 3390000, 25899000, 4783000, 5010000,
            12265000, 8644000, 11102000, 9632000, 18434000, 10802000, 24976000,
            15875000, 36258000, 18474000, 12904000, 10081000, 18017000, 4520000,
            12882000, 23091000, 9985000, 17241000, 33099000, 11473000, 15661000,
            18044000, 2720000, 28143000, 18278000, 22228000, 17032000, 16874000,
            20165000, 6935000, 26952000, 12591000, 24726000, 9990000, 6759000,
            11997000, 6252000, 7700000, 19045000, 13497000, 11665000, 19407000,
            20449000, 4327000, 11804000, 8962000, 15297000, 13270000, 16746000,
            8811000, 20040000, 18923000, 18856000, 18021000, 15847000, 18472000,
            8812000, 7460000, 3182000, 7532000, 8940000, 11934000, 8011000,
            3429000, 5345000, 17451000, 12364000, 2621000, 16800000, 4392000,
            9992000, 7859000, 3791000, 11223000, 4570000, 7963000, 3801000,
            10885000, 8590000, 11492000, 8086000, 6100000, 5400000, 13986000,
            5511000, 7999000, 7128000, 8293000, 14746000, 9632000, 10754000,
          ].map(x => x / 3600000),
          borderColor: "rgb(75, 192, 192)",
          radius: 0,
        },
      ],
    },
    plugins: [ChartDeferred],
    options: {
      // responsive: true,
      animation,
      scales: {
        y: {
          title: "hours",
          beginAtZero: true,
        },
        x: {
          title: "study strim (number)",
          beginAtZero: true,
        },
      },
      interaction: {
        intersect: false,
        mode: "index",
      },
      deferred: {
        yOffset: '50%', // defer until 50% of the canvas height are inside the viewport
        delay: 500      // delay of 500 ms after the canvas is considered inside the viewport
      }
    },
  });
</script>
